.solar-syst {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.solar-syst:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  background: white;
  box-shadow: 1648px 436px 0 0px rgba(255, 255, 255, 0.865) , 1307px 1010px 0 0px rgba(255,255,255, 0.344) , 198px 1372px 0 0px rgba(255,255,255, 0.475) , 514px 113px 0 0px rgba(255,255,255, 0.543) , 520px 423px 0 0px rgba(255,255,255, 0.476) , 1667px 1621px 0 0px rgba(255,255,255, 0.642) , 958px 786px 0 0px rgba(255,255,255, 0.231) , 606px 374px 0 0px rgba(255,255,255, 0.185) , 1186px 1377px 0 0px rgba(255,255,255, 0.913) , 1442px 766px 0 0px rgba(255,255,255, 0.557) , 490px 1188px 0 0px rgba(255,255,255, 0.801) , 1512px 459px 0 0px rgba(255,255,255, 0.243) , 54px 1606px 0 0px rgba(255,255,255, 0.499) , 1443px 1626px 0 0px rgba(255,255,255, 0.882) , 17px 874px 0 0px rgba(255,255,255, 0.938) , 1342px 250px 0 0px rgba(255,255,255, 0.966) , 419px 1181px 0 0px rgba(255,255,255, 0.139) , 623px 188px 0 0px rgba(255,255,255, 0.815) , 842px 889px 0 0px rgba(255,255,255, 0.089) , 251px 1514px 0 0px rgba(255,255,255, 0.255) , 1140px 426px 0 0px rgba(255,255,255, 0.578) , 1727px 642px 0 0px rgba(255,255,255, 0.355) , 785px 547px 0 0px rgba(255,255,255, 0.978) , 57px 274px 0 0px rgba(255,255,255, 0.133) , 261px 1638px 0 0px rgba(255,255,255, 0.125) , 1113px 806px 0 0px rgba(255,255,255, 0.442) , 1365px 1042px 0 0px rgba(255,255,255, 0.559) , 109px 870px 0 0px rgba(255,255,255, 0.806) , 284px 1328px 0 0px rgba(255,255,255, 0.757) , 1394px 1372px 0 0px rgba(255,255,255, 0.559) , 1630px 719px 0 0px rgba(255,255,255, 0.986) , 372px 884px 0 0px rgba(255,255,255, 0.804) , 786px 1341px 0 0px rgba(255,255,255, 0.508) , 247px 483px 0 0px rgba(255,255,255, 0.666) , 259px 876px 0 0px rgba(255,255,255, 0.681) , 1240px 299px 0 0px rgba(255,255,255, 0.193) , 976px 347px 0 0px rgba(255,255,255, 0.734) , 591px 1799px 0 0px rgba(255,255,255, 0.526) , 1784px 368px 0 0px rgba(255,255,255, 0.022) , 244px 19px 0 0px rgba(255,255,255, 0.515) , 599px 72px 0 0px rgba(255,255,255, 0.938) , 918px 1094px 0 0px rgba(255,255,255, 0.611) , 235px 365px 0 0px rgba(255,255,255, 0.48) , 1337px 1308px 0 0px rgba(255,255,255, 0.063) , 811px 998px 0 0px rgba(255,255,255, 0.072) , 85px 62px 0 0px rgba(255,255,255, 0.117) , 1227px 571px 0 0px rgba(255,255,255, 0.265) , 75px 376px 0 0px rgba(255,255,255, 0.637) , 970px 1385px 0 0px rgba(255,255,255, 0.14) , 1423px 1521px 0 0px rgba(255,255,255, 0.569) , 1780px 267px 0 0px rgba(255,255,255, 0.647) , 1595px 930px 0 0px rgba(255,255,255, 0.054) , 601px 1481px 0 0px rgba(255,255,255, 0.61) , 1423px 1057px 0 0px rgba(255,255,255, 0.373) , 1226px 282px 0 0px rgba(255,255,255, 0.684) , 96px 1056px 0 0px rgba(255,255,255, 0.538) , 1130px 1038px 0 0px rgba(255,255,255, 0.664) , 1731px 455px 0 0px rgba(255,255,255, 0.872) , 1191px 1548px 0 0px rgba(255,255,255, 0.369) , 332px 1471px 0 0px rgba(255,255,255, 0.532) , 250px 754px 0 0px rgba(255,255,255, 0.807) , 801px 1414px 0 0px rgba(255,255,255, 0.41) , 1339px 1667px 0 0px rgba(255,255,255, 0.286) , 1574px 366px 0 0px rgba(255,255,255, 0.245) , 1265px 406px 0 0px rgba(255,255,255, 0.42) , 262px 1387px 0 0px rgba(255,255,255, 0.416) , 1229px 979px 0 0px rgba(255,255,255, 0.437) , 387px 1638px 0 0px rgba(255,255,255, 0.129) , 1641px 1035px 0 0px rgba(255,255,255, 0.259) , 995px 216px 0 0px rgba(255,255,255, 0.94) , 157px 942px 0 0px rgba(255,255,255, 0.957) , 254px 442px 0 0px rgba(255,255,255, 0.573) , 814px 1694px 0 0px rgba(255,255,255, 0.298) , 1149px 758px 0 0px rgba(255,255,255, 0.731) , 56px 780px 0 0px rgba(255,255,255, 0.021) , 1660px 829px 0 0px rgba(255,255,255, 0.686) , 804px 873px 0 0px rgba(255,255,255, 0.912) , 1005px 1412px 0 0px rgba(255,255,255, 0.725) , 201px 1131px 0 0px rgba(255,255,255, 0.745) , 228px 1411px 0 0px rgba(255,255,255, 0.444) , 294px 284px 0 0px rgba(255,255,255, 0.663) , 1551px 942px 0 0px rgba(255,255,255, 0.546) , 604px 311px 0 0px rgba(255,255,255, 0.283) , 473px 995px 0 0px rgba(255,255,255, 0.001) , 1227px 1379px 0 0px rgba(255,255,255, 0.597) , 462px 317px 0 0px rgba(255,255,255, 0.931) , 1071px 270px 0 0px rgba(255,255,255, 0.021) , 948px 166px 0 0px rgba(255,255,255, 0.733) , 180px 243px 0 0px rgba(255,255,255, 0.364) , 77px 301px 0 0px rgba(255,255,255, 0.819) , 1057px 1406px 0 0px rgba(255,255,255, 0.288) , 517px 1065px 0 0px rgba(255,255,255, 0.344) , 366px 332px 0 0px rgba(255,255,255, 0.891) , 1595px 1085px 0 0px rgba(255,255,255, 0.591) , 441px 1234px 0 0px rgba(255,255,255, 0.862) , 177px 715px 0 0px rgba(255,255,255, 0.571) , 1056px 703px 0 0px rgba(255,255,255, 0.343) , 525px 351px 0 0px rgba(255,255,255, 0.547) , 24px 39px 0 0px rgba(255,255,255, 0.223) , 1707px 463px 0 0px rgba(255,255,255, 0.268) , 605px 192px 0 0px rgba(255,255,255, 0.636) , 1279px 105px 0 0px rgba(255,255,255, 0.823) , 789px 871px 0 0px rgba(255,255,255, 0.901) , 474px 243px 0 0px rgba(255,255,255, 0.514) , 293px 506px 0 0px rgba(255,255,255, 0.63) , 478px 202px 0 0px rgba(255,255,255, 0.286) , 1111px 615px 0 0px rgba(255,255,255, 0.017) , 240px 221px 0 0px rgba(255,255,255, 0.285) , 163px 1278px 0 0px rgba(255,255,255, 0.024) , 452px 1390px 0 0px rgba(255,255,255, 0.393) , 1719px 1311px 0 0px rgba(255,255,255, 0.764) , 654px 933px 0 0px rgba(255,255,255, 0.234) , 902px 373px 0 0px rgba(255,255,255, 0.876) , 684px 979px 0 0px rgba(255,255,255, 0.717) , 1300px 1508px 0 0px rgba(255,255,255, 0.058) , 530px 809px 0 0px rgba(255,255,255, 0.111) , 1746px 1571px 0 0px rgba(255,255,255, 0.987) , 1387px 586px 0 0px rgba(255,255,255, 0.599) , 742px 1109px 0 0px rgba(255,255,255, 0.521) , 540px 1009px 0 0px rgba(255,255,255, 0.752) , 1008px 1240px 0 0px rgba(255,255,255, 0.509) , 819px 1592px 0 0px rgba(255,255,255, 0.882) , 258px 422px 0 0px rgba(255,255,255, 0.065) , 562px 69px 0 0px rgba(255,255,255, 0.386) , 1768px 617px 0 0px rgba(255,255,255, 0.946) , 991px 813px 0 0px rgba(255,255,255, 0.088) , 122px 1587px 0 0px rgba(255,255,255, 0.965) , 752px 538px 0 0px rgba(255,255,255, 0.391) , 1668px 997px 0 0px rgba(255,255,255, 0.767) , 841px 1218px 0 0px rgba(255,255,255, 0.136) , 1224px 893px 0 0px rgba(255,255,255, 0.376) , 92px 430px 0 0px rgba(255,255,255, 0.598) , 999px 1016px 0 0px rgba(255,255,255, 0.814) , 1708px 34px 0 0px rgba(255,255,255, 0.097) , 1542px 78px 0 0px rgba(255,255,255, 0.801) , 715px 477px 0 0px rgba(255,255,255, 0.256) , 1357px 679px 0 0px rgba(255,255,255, 0.738) , 958px 894px 0 0px rgba(255,255,255, 0.965) , 840px 594px 0 0px rgba(255,255,255, 0.001) , 991px 1152px 0 0px rgba(255,255,255, 0.15) , 236px 1174px 0 0px rgba(255,255,255, 0.695) , 1492px 780px 0 0px rgba(255,255,255, 0.899) , 131px 1577px 0 0px rgba(255,255,255, 0.464) , 1187px 1612px 0 0px rgba(255,255,255, 0.031) , 1031px 1328px 0 0px rgba(255,255,255, 0.554) , 1541px 1443px 0 0px rgba(255,255,255, 0.54) , 663px 66px 0 0px rgba(255,255,255, 0.989) , 1590px 674px 0 0px rgba(255,255,255, 0.687) , 567px 1320px 0 0px rgba(255,255,255, 0.463) , 192px 524px 0 0px rgba(255,255,255, 0.445) , 1432px 1513px 0 0px rgba(255,255,255, 0.873) , 697px 1269px 0 0px rgba(255,255,255, 0.187) , 1695px 1509px 0 0px rgba(255,255,255, 0.182) , 919px 684px 0 0px rgba(255,255,255, 0.698) , 1561px 373px 0 0px rgba(255,255,255, 0.244) , 1303px 1463px 0 0px rgba(255,255,255, 0.741) , 1773px 800px 0 0px rgba(255,255,255, 0.595) , 1341px 964px 0 0px rgba(255,255,255, 0.498) , 1558px 1562px 0 0px rgba(255,255,255, 0.124) , 1185px 271px 0 0px rgba(255,255,255, 0.585) , 1798px 972px 0 0px rgba(255,255,255, 0.72) , 642px 1461px 0 0px rgba(255,255,255, 0.448) , 1114px 1716px 0 0px rgba(255,255,255, 0.947) , 1546px 879px 0 0px rgba(255,255,255, 0.418) , 1529px 1407px 0 0px rgba(255,255,255, 0.061) , 1656px 24px 0 0px rgba(255,255,255, 0.654) , 226px 272px 0 0px rgba(255,255,255, 0.456) , 1703px 1027px 0 0px rgba(255,255,255, 0.86) , 776px 1525px 0 0px rgba(255,255,255, 0.783) , 1384px 891px 0 0px rgba(255,255,255, 0.126) , 1565px 725px 0 0px rgba(255,255,255, 0.415) , 1040px 604px 0 0px rgba(255,255,255, 0.544) , 1425px 295px 0 0px rgba(255,255,255, 0.151) , 336px 1003px 0 0px rgba(255,255,255, 0.382) , 475px 258px 0 0px rgba(255,255,255, 0.726) , 1072px 135px 0 0px rgba(255,255,255, 0.674) , 166px 37px 0 0px rgba(255,255,255, 0.585) , 1758px 100px 0 0px rgba(255,255,255, 0.105) , 309px 962px 0 0px rgba(255,255,255, 0.889) , 14px 1346px 0 0px rgba(255,255,255, 0.591) , 507px 1619px 0 0px rgba(255,255,255, 0.405) , 1730px 1070px 0 0px rgba(255,255,255, 0.752) , 21px 573px 0 0px rgba(255,255,255, 0.84) , 536px 469px 0 0px rgba(255,255,255, 0.459) , 968px 967px 0 0px rgba(255,255,255, 0.751) , 1499px 1009px 0 0px rgba(255,255,255, 0.235) , 671px 106px 0 0px rgba(255,255,255, 0.334) , 852px 1706px 0 0px rgba(255,255,255, 0.689) , 1232px 1739px 0 0px rgba(255,255,255, 0.991) , 762px 1546px 0 0px rgba(255,255,255, 0.342) , 459px 1603px 0 0px rgba(255,255,255, 0.707) , 200px 1790px 0 0px rgba(255,255,255, 0.78) , 1002px 659px 0 0px rgba(255,255,255, 0.653) , 466px 781px 0 0px rgba(255,255,255, 0.351) , 408px 1513px 0 0px rgba(255,255,255, 0.585) , 1578px 508px 0 0px rgba(255,255,255, 0.561) , 552px 31px 0 0px rgba(255,255,255, 0.191) , 211px 1542px 0 0px rgba(255,255,255, 0.101) , 771px 1455px 0 0px rgba(255,255,255, 0.128) , 240px 1378px 0 0px rgba(255,255,255, 0.381) , 1697px 26px 0 0px rgba(255,255,255, 0.624) , 260px 1254px 0 0px rgba(255,255,255, 0.237) , 1524px 1090px 0 0px rgba(255,255,255, 0.954) , 915px 1058px 0 0px rgba(255,255,255, 0.327) , 19px 1093px 0 0px rgba(255,255,255, 0.041) , 1179px 1521px 0 0px rgba(255,255,255, 0.913) , 503px 417px 0 0px rgba(255,255,255, 0.548) , 110px 722px 0 0px rgba(255,255,255, 0.904) , 861px 229px 0 0px rgba(255,255,255, 0.254) , 590px 1088px 0 0px rgba(255,255,255, 0.559) , 212px 839px 0 0px rgba(255,255,255, 0.491) , 1566px 277px 0 0px rgba(255,255,255, 0.815) , 1044px 1116px 0 0px rgba(255,255,255, 0.917) , 780px 253px 0 0px rgba(255,255,255, 0.59) , 168px 736px 0 0px rgba(255,255,255, 0.625) , 518px 1272px 0 0px rgba(255,255,255, 0.416) , 1477px 873px 0 0px rgba(255,255,255, 0.469) , 850px 340px 0 0px rgba(255,255,255, 0.659) , 324px 814px 0 0px rgba(255,255,255, 0.462) , 1708px 1128px 0 0px rgba(255,255,255, 0.218) , 537px 1472px 0 0px rgba(255,255,255, 0.369) , 1739px 1352px 0 0px rgba(255,255,255, 0.181) , 1322px 698px 0 0px rgba(255,255,255, 0.931) , 454px 98px 0 0px rgba(255,255,255, 0.386) , 634px 1066px 0 0px rgba(255,255,255, 0.645) , 1688px 77px 0 0px rgba(255,255,255, 0.992) , 1260px 260px 0 0px rgba(255,255,255, 0.418) , 777px 1608px 0 0px rgba(255,255,255, 0.825) , 1666px 183px 0 0px rgba(255,255,255, 0.953) , 692px 1297px 0 0px rgba(255,255,255, 0.691) , 1196px 1035px 0 0px rgba(255,255,255, 0.208) , 1064px 603px 0 0px rgba(255,255,255, 0.555) , 453px 4px 0 0px rgba(255,255,255, 0.984) , 1687px 1336px 0 0px rgba(255,255,255, 0.375) , 507px 1079px 0 0px rgba(255,255,255, 0.303) , 68px 197px 0 0px rgba(255,255,255, 0.212) , 1753px 1108px 0 0px rgba(255,255,255, 0.182) , 493px 1234px 0 0px rgba(255,255,255, 0.554) , 375px 910px 0 0px rgba(255,255,255, 0.596) , 994px 98px 0 0px rgba(255,255,255, 0.463) , 172px 626px 0 0px rgba(255,255,255, 0.615) , 573px 635px 0 0px rgba(255,255,255, 0.784) , 699px 660px 0 0px rgba(255,255,255, 0.361) , 719px 1611px 0 0px rgba(255,255,255, 0.9) , 1489px 1068px 0 0px rgba(255,255,255, 0.042) , 1258px 268px 0 0px rgba(255,255,255, 0.148) , 1772px 1604px 0 0px rgba(255,255,255, 0.613) , 732px 345px 0 0px rgba(255,255,255, 0.884) , 1741px 741px 0 0px rgba(255,255,255, 0.299) , 1117px 1111px 0 0px rgba(255,255,255, 0.018) , 1452px 123px 0 0px rgba(255,255,255, 0.928) , 1734px 1535px 0 0px rgba(255,255,255, 0.703) , 1564px 333px 0 0px rgba(255,255,255, 0.947) , 1703px 768px 0 0px rgba(255,255,255, 0.48) , 1326px 970px 0 0px rgba(255,255,255, 0.425) , 557px 1113px 0 0px rgba(255,255,255, 0.104) , 19px 508px 0 0px rgba(255,255,255, 0.924) , 208px 1748px 0 0px rgba(255,255,255, 0.71) , 1037px 745px 0 0px rgba(255,255,255, 0.814) , 1422px 1088px 0 0px rgba(255,255,255, 0.423) , 258px 1210px 0 0px rgba(255,255,255, 0.471) , 715px 1604px 0 0px rgba(255,255,255, 0.337) , 1408px 481px 0 0px rgba(255,255,255, 0.938) , 617px 1556px 0 0px rgba(255,255,255, 0.92) , 502px 332px 0 0px rgba(255,255,255, 0.492) , 872px 560px 0 0px rgba(255,255,255, 0.149) , 1115px 448px 0 0px rgba(255,255,255, 0.056) , 1668px 1652px 0 0px rgba(255,255,255, 0.217) , 1377px 1752px 0 0px rgba(255,255,255, 0.999) , 424px 1696px 0 0px rgba(255,255,255, 0.835) , 768px 593px 0 0px rgba(255,255,255, 0.918) , 192px 1102px 0 0px rgba(255,255,255, 0.858) , 651px 278px 0 0px rgba(255,255,255, 0.225) , 1155px 1675px 0 0px rgba(255,255,255, 0.349) , 761px 1427px 0 0px rgba(255,255,255, 0.832) , 1263px 544px 0 0px rgba(255,255,255, 0.315) , 1400px 1523px 0 0px rgba(255,255,255, 0.347) , 1506px 315px 0 0px rgba(255,255,255, 0.825) , 190px 1087px 0 0px rgba(255,255,255, 0.756) , 640px 8px 0 0px rgba(255,255,255, 0.399) , 1184px 1456px 0 0px rgba(255,255,255, 0.568) , 484px 1039px 0 0px rgba(255,255,255, 0.848) , 723px 607px 0 0px rgba(255,255,255, 0.531) , 1774px 1691px 0 0px rgba(255,255,255, 0.613) , 1076px 99px 0 0px rgba(255,255,255, 0.531) , 1758px 429px 0 0px rgba(255,255,255, 0.69) , 1442px 1456px 0 0px rgba(255,255,255, 0.154) , 1753px 1325px 0 0px rgba(255,255,255, 0.149) , 932px 1435px 0 0px rgba(255,255,255, 0.554) , 1664px 1167px 0 0px rgba(255,255,255, 0.316) , 1244px 931px 0 0px rgba(255,255,255, 0.569) , 1215px 1139px 0 0px rgba(255,255,255, 0.863) , 1552px 726px 0 0px rgba(255,255,255, 0.782) , 1614px 599px 0 0px rgba(255,255,255, 0.426) , 832px 591px 0 0px rgba(255,255,255, 0.882) , 1159px 245px 0 0px rgba(255,255,255, 0.118) , 512px 585px 0 0px rgba(255,255,255, 0.771) , 112px 906px 0 0px rgba(255,255,255, 0.4) , 1138px 771px 0 0px rgba(255,255,255, 0.343) , 998px 1091px 0 0px rgba(255,255,255, 0.084) , 184px 1758px 0 0px rgba(255,255,255, 0.386) , 358px 429px 0 0px rgba(255,255,255, 0.899) , 440px 1798px 0 0px rgba(255,255,255, 0.817) , 1384px 949px 0 0px rgba(255,255,255, 0.612) , 95px 284px 0 0px rgba(255,255,255, 0.529) , 882px 1216px 0 0px rgba(255,255,255, 0.005) , 536px 1196px 0 0px rgba(255,255,255, 0.494) , 646px 118px 0 0px rgba(255,255,255, 0.793) , 155px 249px 0 0px rgba(255,255,255, 0.682) , 698px 1213px 0 0px rgba(255,255,255, 0.065) , 1288px 822px 0 0px rgba(255,255,255, 0.157) , 1316px 1050px 0 0px rgba(255,255,255, 0.44) , 669px 1464px 0 0px rgba(255,255,255, 0.172) , 1610px 228px 0 0px rgba(255,255,255, 0.742) , 1457px 1036px 0 0px rgba(255,255,255, 0.067) , 218px 1439px 0 0px rgba(255,255,255, 0.611) , 48px 805px 0 0px rgba(255,255,255, 0.067) , 135px 1557px 0 0px rgba(255,255,255, 0.529) , 1743px 407px 0 0px rgba(255,255,255, 0.967) , 691px 62px 0 0px rgba(255,255,255, 0.058) , 1499px 1276px 0 0px rgba(255,255,255, 0.132) , 600px 1153px 0 0px rgba(255,255,255, 0.28) , 142px 1627px 0 0px rgba(255,255,255, 0.205) , 1699px 1282px 0 0px rgba(255,255,255, 0.188) , 303px 1002px 0 0px rgba(255,255,255, 0.083) , 402px 1539px 0 0px rgba(255,255,255, 0.065) , 708px 1779px 0 0px rgba(255,255,255, 0.473) , 1598px 625px 0 0px rgba(255,255,255, 0.282) , 655px 255px 0 0px rgba(255,255,255, 0.841) , 548px 1498px 0 0px rgba(255,255,255, 0.425) , 1008px 1034px 0 0px rgba(255,255,255, 0.317) , 96px 274px 0 0px rgba(255,255,255, 0.695) , 1737px 35px 0 0px rgba(255,255,255, 0.053) , 255px 761px 0 0px rgba(255,255,255, 0.078) , 1789px 294px 0 0px rgba(255,255,255, 0.354) , 1504px 673px 0 0px rgba(255,255,255, 0.328) , 557px 136px 0 0px rgba(255,255,255, 0.772) , 1694px 969px 0 0px rgba(255,255,255, 0.409) , 201px 1515px 0 0px rgba(255,255,255, 0.767) , 647px 543px 0 0px rgba(255,255,255, 0.652) , 92px 405px 0 0px rgba(255,255,255, 0.831) , 169px 1592px 0 0px rgba(255,255,255, 0.927) , 1417px 1083px 0 0px rgba(255,255,255, 0.389) , 654px 1243px 0 0px rgba(255,255,255, 0.9) , 1182px 621px 0 0px rgba(255,255,255, 0.702) , 609px 987px 0 0px rgba(255,255,255, 0.021) , 1676px 524px 0 0px rgba(255,255,255, 0.666) , 1716px 813px 0 0px rgba(255,255,255, 0.871) , 1282px 845px 0 0px rgba(255,255,255, 0.11) , 877px 378px 0 0px rgba(255,255,255, 0.008) , 498px 166px 0 0px rgba(255,255,255, 0.127) , 1770px 806px 0 0px rgba(255,255,255, 0.648) , 1747px 1160px 0 0px rgba(255,255,255, 0.472) , 829px 829px 0 0px rgba(255,255,255, 0.425) , 419px 572px 0 0px rgba(255,255,255, 0.677) , 1231px 720px 0 0px rgba(255,255,255, 0.1) , 1145px 1394px 0 0px rgba(255,255,255, 0.697) , 175px 1094px 0 0px rgba(255,255,255, 0.132) , 1749px 1704px 0 0px rgba(255,255,255, 0.505) , 213px 665px 0 0px rgba(255,255,255, 0.005) , 331px 511px 0 0px rgba(255,255,255, 0.734) , 1781px 382px 0 0px rgba(255,255,255, 0.707) , 1574px 1500px 0 0px rgba(255,255,255, 0.358) , 1058px 365px 0 0px rgba(255,255,255, 0.259) , 1222px 188px 0 0px rgba(255,255,255, 0.604) , 853px 987px 0 0px rgba(255,255,255, 0.475) , 1310px 792px 0 0px rgba(255,255,255, 0.568) , 347px 597px 0 0px rgba(255,255,255, 0.798) , 46px 551px 0 0px rgba(255,255,255, 0.741) , 280px 1425px 0 0px rgba(255,255,255, 0.529) , 1456px 394px 0 0px rgba(255,255,255, 0.112) , 1226px 630px 0 0px rgba(255,255,255, 0.183) , 842px 649px 0 0px rgba(255,255,255, 0.477) , 353px 1638px 0 0px rgba(255,255,255, 0.121) , 1002px 1221px 0 0px rgba(255,255,255, 0.228) , 1707px 894px 0 0px rgba(255,255,255, 0.654) , 815px 627px 0 0px rgba(255,255,255, 0.08) , 1667px 84px 0 0px rgba(255,255,255, 0.605) , 88px 303px 0 0px rgba(255,255,255, 0.374) , 136px 860px 0 0px rgba(255,255,255, 0.235) , 1630px 104px 0 0px rgba(255,255,255, 0.377) , 1515px 706px 0 0px rgba(255,255,255, 0.959) , 1777px 1598px 0 0px rgba(255,255,255, 0.708) , 1513px 960px 0 0px rgba(255,255,255, 0.002) , 1690px 1189px 0 0px rgba(255,255,255, 0.613) , 1395px 1311px 0 0px rgba(255,255,255, 0.569) , 1145px 96px 0 0px rgba(255,255,255, 0.806) , 663px 1523px 0 0px rgba(255,255,255, 0.946) , 575px 992px 0 0px rgba(255,255,255, 0.23) , 247px 663px 0 0px rgba(255,255,255, 0.338) , 1609px 838px 0 0px rgba(255,255,255, 0.511) , 1476px 1132px 0 0px rgba(255,255,255, 0.378) , 754px 315px 0 0px rgba(255,255,255, 0.448) , 853px 34px 0 0px rgba(255,255,255, 0.084) , 1407px 899px 0 0px rgba(255,255,255, 0.036) , 889px 1217px 0 0px rgba(255,255,255, 0.919) , 1026px 1717px 0 0px rgba(255,255,255, 0.675) , 930px 1057px 0 0px rgba(255,255,255, 0.36) , 931px 503px 0 0px rgba(255,255,255, 0.832) , 360px 511px 0 0px rgba(255,255,255, 0.962) , 1656px 290px 0 0px rgba(255,255,255, 0.934) , 1557px 1159px 0 0px rgba(255,255,255, 0.645) , 70px 1053px 0 0px rgba(255,255,255, 0.563) , 687px 78px 0 0px rgba(255,255,255, 0.932) , 391px 1124px 0 0px rgba(255,255,255, 0.105) , 339px 864px 0 0px rgba(255,255,255, 0.759) , 1750px 350px 0 0px rgba(255,255,255, 0.077) , 31px 64px 0 0px rgba(255,255,255, 0.82) , 1091px 1288px 0 0px rgba(255,255,255, 0.407) , 1484px 134px 0 0px rgba(255,255,255, 0.662) , 190px 1794px 0 0px rgba(255,255,255, 0.658) , 1704px 868px 0 0px rgba(255,255,255, 0.654) , 178px 1720px 0 0px rgba(255,255,255, 0.382) , 25px 1356px 0 0px rgba(255,255,255, 0.629) , 1173px 196px 0 0px rgba(255,255,255, 0.264) , 398px 713px 0 0px rgba(255,255,255, 0.61) , 411px 72px 0 0px rgba(255,255,255, 0.615) , 1655px 1268px 0 0px rgba(255,255,255, 0.427) , 1341px 1159px 0 0px rgba(255,255,255, 0.769) , 1295px 296px 0 0px rgba(255,255,255, 0.613) , 948px 891px 0 0px rgba(255,255,255, 0.706) , 1074px 137px 0 0px rgba(255,255,255, 0.025) , 131px 295px 0 0px rgba(255,255,255, 0.3) , 1480px 317px 0 0px rgba(255,255,255, 0.725) , 210px 1315px 0 0px rgba(255,255,255, 0.118) , 1075px 431px 0 0px rgba(255,255,255, 0.446) , 1604px 1077px 0 0px rgba(255,255,255, 0.344) , 972px 573px 0 0px rgba(255,255,255, 0.676) , 916px 1636px 0 0px rgba(255,255,255, 0.389) , 1240px 1511px 0 0px rgba(255,255,255, 0.417) , 1546px 1421px 0 0px rgba(255,255,255, 0.946) , 1573px 1097px 0 0px rgba(255,255,255, 0.301) , 1196px 1547px 0 0px rgba(255,255,255, 0.208) , 1798px 1041px 0 0px rgba(255,255,255, 0.895) , 102px 666px 0 0px rgba(255,255,255, 0.623) , 1600px 1359px 0 0px rgba(255,255,255, 0.215) , 553px 688px 0 0px rgba(255,255,255, 0.75) , 621px 133px 0 0px rgba(255,255,255, 0.327) , 1777px 224px 0 0px rgba(255,255,255, 0.92) , 104px 1267px 0 0px rgba(255,255,255, 0.801) , 1199px 1247px 0 0px rgba(255,255,255, 0.404) , 673px 296px 0 0px rgba(255,255,255, 0.004) , 47px 1618px 0 0px rgba(255,255,255, 0.389) , 1353px 1573px 0 0px rgba(255,255,255, 0.418) , 1031px 543px 0 0px rgba(255,255,255, 0.338) , 74px 138px 0 0px rgba(255,255,255, 0.83) , 409px 266px 0 0px rgba(255,255,255, 0.094) , 358px 1142px 0 0px rgba(255,255,255, 0.599) , 1583px 1483px 0 0px rgba(255,255,255, 0.721) , 29px 487px 0 0px rgba(255,255,255, 0.156) , 1160px 487px 0 0px rgba(255,255,255, 0.406) , 49px 560px 0 0px rgba(255,255,255, 0.306) , 473px 3px 0 0px rgba(255,255,255, 0.741) , 677px 156px 0 0px rgba(255,255,255, 0.572) , 42px 1493px 0 0px rgba(255,255,255, 0.984) , 1431px 735px 0 0px rgba(255,255,255, 0.515) , 96px 1636px 0 0px rgba(255,255,255, 0.736) , 260px 1590px 0 0px rgba(255,255,255, 0.647) , 437px 1146px 0 0px rgba(255,255,255, 0.621) , 745px 870px 0 0px rgba(255,255,255, 0.456) , 1579px 653px 0 0px rgba(255,255,255, 0.181) , 278px 1364px 0 0px rgba(255,255,255, 0.066) , 1260px 54px 0 0px rgba(255,255,255, 0.209) , 1185px 1109px 0 0px rgba(255,255,255, 0.141) , 1484px 357px 0 0px rgba(255,255,255, 0.537) , 1625px 1601px 0 0px rgba(255,255,255, 0.804) , 1350px 1768px 0 0px rgba(255,255,255, 0.612) , 417px 1300px 0 0px rgba(255,255,255, 0.921) , 1500px 938px 0 0px rgba(255,255,255, 0.535) , 1301px 1728px 0 0px rgba(255,255,255, 0.181) , 56px 1615px 0 0px rgba(255,255,255, 0.262) , 810px 1472px 0 0px rgba(255,255,255, 0.854) , 1330px 1029px 0 0px rgba(255,255,255, 0.405) , 43px 29px 0 0px rgba(255,255,255, 0.327) , 580px 1270px 0 0px rgba(255,255,255, 0.403) , 660px 497px 0 0px rgba(255,255,255, 0.367) , 1715px 200px 0 0px rgba(255,255,255, 0.504) , 1800px 437px 0 0px rgba(255,255,255, 0.136) , 1482px 35px 0 0px rgba(255,255,255, 0.324) , 33px 1256px 0 0px rgba(255,255,255, 0.768) , 581px 352px 0 0px rgba(255,255,255, 0.326) , 787px 1638px 0 0px rgba(255,255,255, 0.358) , 959px 714px 0 0px rgba(255,255,255, 0.493) , 241px 78px 0 0px rgba(255,255,255, 0.817) , 937px 787px 0 0px rgba(255,255,255, 0.193) , 92px 292px 0 0px rgba(255,255,255, 0.161) , 470px 1337px 0 0px rgba(255,255,255, 0.97) , 430px 1711px 0 0px rgba(255,255,255, 0.3) , 1773px 9px 0 0px rgba(255,255,255, 0.93) , 182px 179px 0 0px rgba(255,255,255, 0.483) , 1688px 986px 0 0px rgba(255,255,255, 0.058) , 1472px 1251px 0 0px rgba(255,255,255, 0.113) , 1050px 1525px 0 0px rgba(255,255,255, 0.086) , 1636px 1309px 0 0px rgba(255,255,255, 0.505) , 1432px 1417px 0 0px rgba(255,255,255, 0.331) , 781px 934px 0 0px rgba(255,255,255, 0.884) , 1542px 723px 0 0px rgba(255,255,255, 0.506) , 1416px 1374px 0 0px rgba(255,255,255, 0.077) , 1478px 1120px 0 0px rgba(255,255,255, 0.619) , 1660px 1633px 0 0px rgba(255,255,255, 0.932);
  border-radius: 100px;
}
.solar-syst div {
  border-radius: 1000px;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 999;
}
.solar-syst div:not(.sun) {
  border: 1px solid rgba(102, 166, 229, 0.12);
}
.solar-syst div:not(.sun):before {
  left: 50%;
  border-radius: 100px;
  content: "";
  position: absolute;
}
.solar-syst div:not(.asteroids-belt):before {
  box-shadow: inset 0 6px 0 -2px rgba(0, 0, 0, 0.25);
}

.sun {
  background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  background-clip: padding-box;
  border: 0 !important;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercury {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  -webkit-animation: orb 7.1867343561s linear infinite;
          animation: orb 7.1867343561s linear infinite;
}
.mercury:before {
  height: 4px;
  width: 4px;
  background: #9f5e26;
  margin-top: -2px;
  margin-left: -2px;
}

.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: orb 18.4555338265s linear infinite;
          animation: orb 18.4555338265s linear infinite;
}
.venus:before {
  height: 8px;
  width: 8px;
  background: #BEB768;
  margin-top: -4px;
  margin-left: -4px;
}

.earth {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  -webkit-animation: orb 30s linear infinite;
          animation: orb 30s linear infinite;
}
.earth:before {
  height: 6px;
  width: 6px;
  background: #11abe9;
  margin-top: -3px;
  margin-left: -3px;
}
.earth:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-left: -9px;
  margin-top: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
  -webkit-animation: orb 2.2440352158s linear infinite;
          animation: orb 2.2440352158s linear infinite;
}

.mars {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  -webkit-animation: orb 56.4261314589s linear infinite;
          animation: orb 56.4261314589s linear infinite;
}
.mars:before {
  height: 6px;
  width: 6px;
  background: #cf3921;
  margin-top: -3px;
  margin-left: -3px;
}

.jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  -webkit-animation: orb 355.7228171013s linear infinite;
          animation: orb 355.7228171013s linear infinite;
}
.jupiter:before {
  height: 18px;
  width: 18px;
  background: #c76e2a;
  margin-top: -9px;
  margin-left: -9px;
}

.saturn {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  -webkit-animation: orb 882.6952471456s linear infinite;
          animation: orb 882.6952471456s linear infinite;
}
.saturn:before {
  height: 12px;
  width: 12px;
  background: #e7c194;
  margin-top: -6px;
  margin-left: -6px;
}
.saturn:after {
  position: absolute;
  content: "";
  height: 2.34%;
  width: 4.676%;
  left: 50%;
  top: 0px;
  transform: rotateZ(-52deg);
  margin-left: -2.3%;
  margin-top: -1.2%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 0 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  -webkit-animation: orb 882.6952471456s linear infinite;
          animation: orb 882.6952471456s linear infinite;
  animation-direction: reverse;
  transform-origin: 52% 60%;
}

.uranus {
  height: 520px;
  width: 520px;
  margin-top: -260px;
  margin-left: -260px;
  -webkit-animation: orb 2512.4001967933s linear infinite;
          animation: orb 2512.4001967933s linear infinite;
}
.uranus:before {
  height: 10px;
  width: 10px;
  background: #b5e3e3;
  margin-top: -5px;
  margin-left: -5px;
}

.neptune {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  -webkit-animation: orb 4911.7838624549s linear infinite;
          animation: orb 4911.7838624549s linear infinite;
}
.neptune:before {
  height: 10px;
  width: 10px;
  background: #175e9e;
  margin-top: -5px;
  margin-left: -5px;
}

.asteroids-belt {
  opacity: 0.7;
  border-color: transparent !important;
  margin-top: -150px;
  margin-left: -150px;
  -webkit-animation: orb 179.9558282773s linear infinite;
          animation: orb 179.9558282773s linear infinite;
  overflow: hidden;
}
.asteroids-belt:before {
  top: 50%;
  margin-left: -105px;
  margin-top: -105px;
  background: transparent;
  border-radius: 140px !important;
  box-shadow: -135px 23px 0 -104px rgba(255, 255, 255, 0.824) , 98px -136px 0 -104px rgba(255,255,255, 0.255) , -48px -141px 0 -104px rgba(255,255,255, 0.394) , 132px 137px 0 -104px rgba(255,255,255, 0.819) , 54px 79px 0 -104px rgba(255,255,255, 0.524) , 32px -108px 0 -104px rgba(255,255,255, 0.069) , -30px 87px 0 -104px rgba(255,255,255, 0.261) , -100px 16px 0 -104px rgba(255,255,255, 0.229) , 89px -89px 0 -104px rgba(255,255,255, 0.496) , 113px -48px 0 -104px rgba(255,255,255, 0.235) , 43px 119px 0 -104px rgba(255,255,255, 0.64) , -55px -17px 0 -104px rgba(255,255,255, 0.686) , -48px 145px 0 -104px rgba(255,255,255, 0.081) , 33px -15px 0 -104px rgba(255,255,255, 0.753) , 81px -58px 0 -104px rgba(255,255,255, 0.721) , 11px 102px 0 -104px rgba(255,255,255, 0.697) , -43px 39px 0 -104px rgba(255,255,255, 0.556) , 11px -101px 0 -104px rgba(255,255,255, 0.314) , -53px 135px 0 -104px rgba(255,255,255, 0.073) , -100px 33px 0 -104px rgba(255,255,255, 0.252) , -65px 104px 0 -104px rgba(255,255,255, 0.698) , 14px 107px 0 -104px rgba(255,255,255, 0.322) , 21px -113px 0 -104px rgba(255,255,255, 0.873) , 134px -135px 0 -104px rgba(255,255,255, 0.909) , -30px 129px 0 -104px rgba(255,255,255, 0.115) , -136px -131px 0 -104px rgba(255,255,255, 0.962) , -54px -69px 0 -104px rgba(255,255,255, 0.918) , 143px 80px 0 -104px rgba(255,255,255, 0.983) , 94px -110px 0 -104px rgba(255,255,255, 0.993) , 125px 114px 0 -104px rgba(255,255,255, 0.011) , -53px -90px 0 -104px rgba(255,255,255, 0.225) , -56px -79px 0 -104px rgba(255,255,255, 0.266) , 4px 54px 0 -104px rgba(255,255,255, 0.098) , -74px 64px 0 -104px rgba(255,255,255, 0.154) , 18px -132px 0 -104px rgba(255,255,255, 0.763) , -87px -53px 0 -104px rgba(255,255,255, 0.196) , 140px 12px 0 -104px rgba(255,255,255, 0.875) , -124px -135px 0 -104px rgba(255,255,255, 0.851) , 5px 106px 0 -104px rgba(255,255,255, 0.474) , -58px 41px 0 -104px rgba(255,255,255, 0.677) , -6px 134px 0 -104px rgba(255,255,255, 0.211) , -69px -90px 0 -104px rgba(255,255,255, 0.841) , 140px -132px 0 -104px rgba(255,255,255, 0.915) , -105px 18px 0 -104px rgba(255,255,255, 0.21) , 53px -6px 0 -104px rgba(255,255,255, 0.055) , 3px -53px 0 -104px rgba(255,255,255, 0.635) , -97px 144px 0 -104px rgba(255,255,255, 0.915) , 59px 133px 0 -104px rgba(255,255,255, 0.548) , -4px -21px 0 -104px rgba(255,255,255, 0.156) , 110px 118px 0 -104px rgba(255,255,255, 0.986) , -114px -54px 0 -104px rgba(255,255,255, 0.397) , 16px 82px 0 -104px rgba(255,255,255, 0.015) , 4px 38px 0 -104px rgba(255,255,255, 0.754) , -132px 42px 0 -104px rgba(255,255,255, 0.007) , -12px 14px 0 -104px rgba(255,255,255, 0.42) , -15px -98px 0 -104px rgba(255,255,255, 0.758) , 80px 4px 0 -104px rgba(255,255,255, 0.152) , -81px 31px 0 -104px rgba(255,255,255, 0.046) , -111px -9px 0 -104px rgba(255,255,255, 0.823) , 65px 80px 0 -104px rgba(255,255,255, 0.355) , -104px 73px 0 -104px rgba(255,255,255, 0.86) , 39px 103px 0 -104px rgba(255,255,255, 0.056) , 63px -22px 0 -104px rgba(255,255,255, 0.667) , -99px -46px 0 -104px rgba(255,255,255, 0.322) , 48px -44px 0 -104px rgba(255,255,255, 0.935) , 49px 51px 0 -104px rgba(255,255,255, 0.733) , -88px -31px 0 -104px rgba(255,255,255, 0.836) , -68px 72px 0 -104px rgba(255,255,255, 0.075) , 16px 131px 0 -104px rgba(255,255,255, 0.989) , 44px 90px 0 -104px rgba(255,255,255, 0.398) , 138px 117px 0 -104px rgba(255,255,255, 0.206) , -133px -140px 0 -104px rgba(255,255,255, 0.295) , 131px -134px 0 -104px rgba(255,255,255, 0.325) , -45px 64px 0 -104px rgba(255,255,255, 0.057) , -14px 28px 0 -104px rgba(255,255,255, 0.903) , -127px -40px 0 -104px rgba(255,255,255, 0.783) , -46px -5px 0 -104px rgba(255,255,255, 0.688) , -20px 136px 0 -104px rgba(255,255,255, 0.928) , -67px -60px 0 -104px rgba(255,255,255, 0.069) , 142px 133px 0 -104px rgba(255,255,255, 0.392) , 82px -103px 0 -104px rgba(255,255,255, 0.733) , 49px -42px 0 -104px rgba(255,255,255, 0.255) , 47px -130px 0 -104px rgba(255,255,255, 0.109) , -64px -56px 0 -104px rgba(255,255,255, 0.307) , -39px -74px 0 -104px rgba(255,255,255, 0.809) , 93px -79px 0 -104px rgba(255,255,255, 0.759) , -21px -80px 0 -104px rgba(255,255,255, 0.687) , 19px 44px 0 -104px rgba(255,255,255, 0.17) , -3px -55px 0 -104px rgba(255,255,255, 0.558) , 129px -119px 0 -104px rgba(255,255,255, 0.784) , 115px 62px 0 -104px rgba(255,255,255, 0.772) , -51px -124px 0 -104px rgba(255,255,255, 0.274) , 96px 72px 0 -104px rgba(255,255,255, 0.834) , 12px -28px 0 -104px rgba(255,255,255, 0.878) , 118px 88px 0 -104px rgba(255,255,255, 0.86) , 122px 12px 0 -104px rgba(255,255,255, 0.871) , -4px 80px 0 -104px rgba(255,255,255, 0.74) , 105px 54px 0 -104px rgba(255,255,255, 0.909) , -54px 27px 0 -104px rgba(255,255,255, 0.649) , -32px 34px 0 -104px rgba(255,255,255, 0.328) , 17px -26px 0 -104px rgba(255,255,255, 0.838) , -88px -32px 0 -104px rgba(255,255,255, 0.769) , 125px -6px 0 -104px rgba(255,255,255, 0.539) , 141px 11px 0 -104px rgba(255,255,255, 0.426) , -42px 44px 0 -104px rgba(255,255,255, 0.28) , -45px -5px 0 -104px rgba(255,255,255, 0.59) , 54px 57px 0 -104px rgba(255,255,255, 0.247) , -36px 82px 0 -104px rgba(255,255,255, 0.122) , 55px 109px 0 -104px rgba(255,255,255, 0.981) , 137px 117px 0 -104px rgba(255,255,255, 0.626) , 124px -24px 0 -104px rgba(255,255,255, 0.557) , -116px -99px 0 -104px rgba(255,255,255, 0.586) , -64px 137px 0 -104px rgba(255,255,255, 0.005) , 61px 122px 0 -104px rgba(255,255,255, 0.892) , 46px -24px 0 -104px rgba(255,255,255, 0.825) , -31px 26px 0 -104px rgba(255,255,255, 0.239) , -81px 50px 0 -104px rgba(255,255,255, 0.788) , 57px 45px 0 -104px rgba(255,255,255, 0.219) , -23px 50px 0 -104px rgba(255,255,255, 0.531) , 31px 86px 0 -104px rgba(255,255,255, 0.271) , 136px 137px 0 -104px rgba(255,255,255, 0.262) , 23px 138px 0 -104px rgba(255,255,255, 0.165) , 50px 128px 0 -104px rgba(255,255,255, 0.186) , 17px -8px 0 -104px rgba(255,255,255, 0.128) , -95px -32px 0 -104px rgba(255,255,255, 0.105) , 131px -75px 0 -104px rgba(255,255,255, 0.749) , -55px -140px 0 -104px rgba(255,255,255, 0.795) , 98px 100px 0 -104px rgba(255,255,255, 0.333) , 24px 104px 0 -104px rgba(255,255,255, 0.285) , 10px 90px 0 -104px rgba(255,255,255, 0.175) , -113px -134px 0 -104px rgba(255,255,255, 0.635) , -108px 112px 0 -104px rgba(255,255,255, 0.418) , 60px -31px 0 -104px rgba(255,255,255, 0.729) , 23px -107px 0 -104px rgba(255,255,255, 0.701) , -21px -79px 0 -104px rgba(255,255,255, 0.363) , -28px -107px 0 -104px rgba(255,255,255, 0.918) , -94px 44px 0 -104px rgba(255,255,255, 0.883) , -99px -90px 0 -104px rgba(255,255,255, 0.701) , 128px 112px 0 -104px rgba(255,255,255, 0.238) , -50px 110px 0 -104px rgba(255,255,255, 0.017) , 65px 33px 0 -104px rgba(255,255,255, 0.647) , -136px 116px 0 -104px rgba(255,255,255, 0.582) , 73px -63px 0 -104px rgba(255,255,255, 0.474) , 28px -89px 0 -104px rgba(255,255,255, 0.003) , -40px 95px 0 -104px rgba(255,255,255, 0.582) , 118px -38px 0 -104px rgba(255,255,255, 0.604) , -98px 75px 0 -104px rgba(255,255,255, 0.785) , 27px 112px 0 -104px rgba(255,255,255, 0.201) , -84px 3px 0 -104px rgba(255,255,255, 0.613) , -61px -129px 0 -104px rgba(255,255,255, 0.621) , -97px 118px 0 -104px rgba(255,255,255, 0.253) , 59px 46px 0 -104px rgba(255,255,255, 0.503) , 126px -71px 0 -104px rgba(255,255,255, 0.299) , -107px -74px 0 -104px rgba(255,255,255, 0.01) , 84px 115px 0 -104px rgba(255,255,255, 0.839) , 45px -5px 0 -104px rgba(255,255,255, 0.52) , 30px 99px 0 -104px rgba(255,255,255, 0.608) , 48px -12px 0 -104px rgba(255,255,255, 0.307) , 17px -22px 0 -104px rgba(255,255,255, 0.525) , -125px -26px 0 -104px rgba(255,255,255, 0.289) , -84px -99px 0 -104px rgba(255,255,255, 0.09) , 136px 113px 0 -104px rgba(255,255,255, 0.876) , -86px 31px 0 -104px rgba(255,255,255, 0.503) , -135px -118px 0 -104px rgba(255,255,255, 0.861) , 94px -130px 0 -104px rgba(255,255,255, 0.161) , -85px 141px 0 -104px rgba(255,255,255, 0.83) , -2px 6px 0 -104px rgba(255,255,255, 0.006) , 120px 65px 0 -104px rgba(255,255,255, 0.399) , 50px -115px 0 -104px rgba(255,255,255, 0.786) , 75px -45px 0 -104px rgba(255,255,255, 0.582) , 50px 133px 0 -104px rgba(255,255,255, 0.838) , 20px 37px 0 -104px rgba(255,255,255, 0.438) , -83px -9px 0 -104px rgba(255,255,255, 0.825) , -72px -71px 0 -104px rgba(255,255,255, 0.997) , 74px -141px 0 -104px rgba(255,255,255, 0.601) , 122px 93px 0 -104px rgba(255,255,255, 0.266) , -10px -66px 0 -104px rgba(255,255,255, 0.674) , -78px 33px 0 -104px rgba(255,255,255, 0.875) , -80px -8px 0 -104px rgba(255,255,255, 0.412) , 72px 42px 0 -104px rgba(255,255,255, 0.545) , -87px 10px 0 -104px rgba(255,255,255, 0.936) , -129px 42px 0 -104px rgba(255,255,255, 0.759) , 122px 134px 0 -104px rgba(255,255,255, 0.605) , 107px 129px 0 -104px rgba(255,255,255, 0.529) , -11px -138px 0 -104px rgba(255,255,255, 0.928) , 44px 107px 0 -104px rgba(255,255,255, 0.735) , -3px 136px 0 -104px rgba(255,255,255, 0.906) , -103px -117px 0 -104px rgba(255,255,255, 0.234) , 37px 25px 0 -104px rgba(255,255,255, 0.59) , -57px -72px 0 -104px rgba(255,255,255, 0.794) , 139px 117px 0 -104px rgba(255,255,255, 0.026) , 77px 32px 0 -104px rgba(255,255,255, 0.725) , 136px 104px 0 -104px rgba(255,255,255, 0.173) , -6px -61px 0 -104px rgba(255,255,255, 0.89) , -72px -43px 0 -104px rgba(255,255,255, 0.185) , -77px -140px 0 -104px rgba(255,255,255, 0.974) , 3px -131px 0 -104px rgba(255,255,255, 0.851) , -6px -52px 0 -104px rgba(255,255,255, 0.638) , -140px 26px 0 -104px rgba(255,255,255, 0.146) , -21px 56px 0 -104px rgba(255,255,255, 0.518) , 88px 64px 0 -104px rgba(255,255,255, 0.206) , -26px 65px 0 -104px rgba(255,255,255, 0.692) , 98px -53px 0 -104px rgba(255,255,255, 0.882) , 96px 58px 0 -104px rgba(255,255,255, 0.664) , -135px -144px 0 -104px rgba(255,255,255, 0.117) , -97px 51px 0 -104px rgba(255,255,255, 0.047) , 122px -63px 0 -104px rgba(255,255,255, 0.924) , -75px -126px 0 -104px rgba(255,255,255, 0.971) , -110px -114px 0 -104px rgba(255,255,255, 0.508) , 34px -26px 0 -104px rgba(255,255,255, 0.605) , 79px 70px 0 -104px rgba(255,255,255, 0.898) , 7px 91px 0 -104px rgba(255,255,255, 0.452) , 91px -39px 0 -104px rgba(255,255,255, 0.844) , -113px -44px 0 -104px rgba(255,255,255, 0.826) , 136px 12px 0 -104px rgba(255,255,255, 0.269) , -113px 31px 0 -104px rgba(255,255,255, 0.632) , 92px -123px 0 -104px rgba(255,255,255, 0.013) , -13px -108px 0 -104px rgba(255,255,255, 0.215) , 47px -122px 0 -104px rgba(255,255,255, 0.417) , -35px 112px 0 -104px rgba(255,255,255, 0.149) , -75px -69px 0 -104px rgba(255,255,255, 0.358) , -113px 90px 0 -104px rgba(255,255,255, 0.77) , 58px 61px 0 -104px rgba(255,255,255, 0.743) , 106px -98px 0 -104px rgba(255,255,255, 0.874) , 80px -35px 0 -104px rgba(255,255,255, 0.96) , 3px 7px 0 -104px rgba(255,255,255, 0.435) , -120px -53px 0 -104px rgba(255,255,255, 0.879) , -133px 64px 0 -104px rgba(255,255,255, 0.36) , 121px -22px 0 -104px rgba(255,255,255, 0.546) , 135px 85px 0 -104px rgba(255,255,255, 0.22) , -98px -141px 0 -104px rgba(255,255,255, 0.981) , 57px -6px 0 -104px rgba(255,255,255, 0.84) , 79px -60px 0 -104px rgba(255,255,255, 0.267) , -110px 41px 0 -104px rgba(255,255,255, 0.131) , 101px 76px 0 -104px rgba(255,255,255, 0.951) , 41px 144px 0 -104px rgba(255,255,255, 0.361) , -25px -120px 0 -104px rgba(255,255,255, 0.504) , -81px -77px 0 -104px rgba(255,255,255, 0.995) , -134px -20px 0 -104px rgba(255,255,255, 0.537) , -144px 141px 0 -104px rgba(255,255,255, 0.801) , -133px 37px 0 -104px rgba(255,255,255, 0.469) , 23px 19px 0 -104px rgba(255,255,255, 0.909) , -131px 76px 0 -104px rgba(255,255,255, 0.057) , 81px 42px 0 -104px rgba(255,255,255, 0.902) , -52px -117px 0 -104px rgba(255,255,255, 0.586) , 78px -111px 0 -104px rgba(255,255,255, 0.295) , 54px 78px 0 -104px rgba(255,255,255, 0.836) , 140px 139px 0 -104px rgba(255,255,255, 0.864) , -44px 86px 0 -104px rgba(255,255,255, 0.637) , 39px 11px 0 -104px rgba(255,255,255, 0.861) , 111px -108px 0 -104px rgba(255,255,255, 0.077) , -43px 125px 0 -104px rgba(255,255,255, 0.173) , -141px 84px 0 -104px rgba(255,255,255, 0.162) , 37px 66px 0 -104px rgba(255,255,255, 0.461) , -57px 5px 0 -104px rgba(255,255,255, 0.89) , 47px -144px 0 -104px rgba(255,255,255, 0.951) , 82px -109px 0 -104px rgba(255,255,255, 0.599) , 21px 54px 0 -104px rgba(255,255,255, 0.887) , 7px 14px 0 -104px rgba(255,255,255, 0.316) , 101px 84px 0 -104px rgba(255,255,255, 0.873) , 64px -109px 0 -104px rgba(255,255,255, 0.627) , -92px 46px 0 -104px rgba(255,255,255, 0.518) , -2px 108px 0 -104px rgba(255,255,255, 0.4) , 44px -47px 0 -104px rgba(255,255,255, 0.826) , 114px 18px 0 -104px rgba(255,255,255, 0.299) , 51px -69px 0 -104px rgba(255,255,255, 0.735) , -82px 115px 0 -104px rgba(255,255,255, 0.824) , 71px -53px 0 -104px rgba(255,255,255, 0.038) , 9px 40px 0 -104px rgba(255,255,255, 0.044) , 113px -78px 0 -104px rgba(255,255,255, 0.649) , 128px 2px 0 -104px rgba(255,255,255, 0.867) , -114px 81px 0 -104px rgba(255,255,255, 0.756) , 101px -53px 0 -104px rgba(255,255,255, 0.83) , 19px 99px 0 -104px rgba(255,255,255, 0.106) , -59px -49px 0 -104px rgba(255,255,255, 0.855) , -12px -76px 0 -104px rgba(255,255,255, 0.377) , 44px 112px 0 -104px rgba(255,255,255, 0.795) , 144px -134px 0 -104px rgba(255,255,255, 0.822) , -37px -131px 0 -104px rgba(255,255,255, 0.096) , 133px 135px 0 -104px rgba(255,255,255, 0.002) , -80px 58px 0 -104px rgba(255,255,255, 0.002) , 7px -67px 0 -104px rgba(255,255,255, 0.129) , -50px 56px 0 -104px rgba(255,255,255, 0.825) , -46px 0px 0 -104px rgba(255,255,255, 0.796) , 29px -4px 0 -104px rgba(255,255,255, 0.675) , -10px -71px 0 -104px rgba(255,255,255, 0.882) , 35px 85px 0 -104px rgba(255,255,255, 0.821) , 65px 40px 0 -104px rgba(255,255,255, 0.223) , 21px 119px 0 -104px rgba(255,255,255, 0.378) , 54px 115px 0 -104px rgba(255,255,255, 0.027) , 44px -48px 0 -104px rgba(255,255,255, 0.617) , 7px 111px 0 -104px rgba(255,255,255, 0.665) , 124px -118px 0 -104px rgba(255,255,255, 0.62) , 66px -77px 0 -104px rgba(255,255,255, 0.748) , 142px -99px 0 -104px rgba(255,255,255, 0.402) , -133px 129px 0 -104px rgba(255,255,255, 0.622) , 109px -8px 0 -104px rgba(255,255,255, 0.476) , 21px 24px 0 -104px rgba(255,255,255, 0.787) , -100px -118px 0 -104px rgba(255,255,255, 0.457) , -129px -89px 0 -104px rgba(255,255,255, 0.815) , 16px 91px 0 -104px rgba(255,255,255, 0.69) , 84px 66px 0 -104px rgba(255,255,255, 0.865) , 30px -65px 0 -104px rgba(255,255,255, 0.423) , -80px -94px 0 -104px rgba(255,255,255, 0.999) , 60px -44px 0 -104px rgba(255,255,255, 0.32) , 15px -71px 0 -104px rgba(255,255,255, 0.407) , 127px -17px 0 -104px rgba(255,255,255, 0.088) , -48px 3px 0 -104px rgba(255,255,255, 0.573) , -84px -117px 0 -104px rgba(255,255,255, 0.561) , 48px -58px 0 -104px rgba(255,255,255, 0.256) , 29px -3px 0 -104px rgba(255,255,255, 0.563) , -27px -11px 0 -104px rgba(255,255,255, 0.06) , 1px -70px 0 -104px rgba(255,255,255, 0.865) , -69px 24px 0 -104px rgba(255,255,255, 0.907) , -80px 57px 0 -104px rgba(255,255,255, 0.163) , 95px 104px 0 -104px rgba(255,255,255, 0.455) , 46px 79px 0 -104px rgba(255,255,255, 0.365) , 43px -6px 0 -104px rgba(255,255,255, 0.536) , -105px 108px 0 -104px rgba(255,255,255, 0.046) , -94px 51px 0 -104px rgba(255,255,255, 0.932) , -100px 86px 0 -104px rgba(255,255,255, 0.142) , 8px 9px 0 -104px rgba(255,255,255, 0.531) , 136px -51px 0 -104px rgba(255,255,255, 0.984) , 120px 81px 0 -104px rgba(255,255,255, 0.041) , 40px 61px 0 -104px rgba(255,255,255, 0.834) , -68px 72px 0 -104px rgba(255,255,255, 0.065) , -45px -126px 0 -104px rgba(255,255,255, 0.414) , 73px -26px 0 -104px rgba(255,255,255, 0.107) , 21px -86px 0 -104px rgba(255,255,255, 0.459) , -61px -100px 0 -104px rgba(255,255,255, 0.293) , 60px 43px 0 -104px rgba(255,255,255, 0.078) , 92px -79px 0 -104px rgba(255,255,255, 0.374) , 111px -64px 0 -104px rgba(255,255,255, 0.621) , -128px -77px 0 -104px rgba(255,255,255, 0.746) , -10px -66px 0 -104px rgba(255,255,255, 0.268) , 97px 14px 0 -104px rgba(255,255,255, 0.862) , 18px -2px 0 -104px rgba(255,255,255, 0.365) , 130px 104px 0 -104px rgba(255,255,255, 0.757) , -116px 19px 0 -104px rgba(255,255,255, 0.23) , -144px 26px 0 -104px rgba(255,255,255, 0.42) , -5px 4px 0 -104px rgba(255,255,255, 0.063) , -91px 86px 0 -104px rgba(255,255,255, 0.698) , -144px 74px 0 -104px rgba(255,255,255, 0.071) , 66px -5px 0 -104px rgba(255,255,255, 0.145) , 117px -18px 0 -104px rgba(255,255,255, 0.149) , 35px 73px 0 -104px rgba(255,255,255, 0.909) , 99px -119px 0 -104px rgba(255,255,255, 0.5) , -17px 71px 0 -104px rgba(255,255,255, 0.649) , 145px 127px 0 -104px rgba(255,255,255, 0.323) , -123px 144px 0 -104px rgba(255,255,255, 0.291) , 38px 70px 0 -104px rgba(255,255,255, 0.693) , -55px 76px 0 -104px rgba(255,255,255, 0.317) , -17px -114px 0 -104px rgba(255,255,255, 0.356) , 138px -95px 0 -104px rgba(255,255,255, 0.435) , 95px -44px 0 -104px rgba(255,255,255, 0.235) , 109px -71px 0 -104px rgba(255,255,255, 0.231) , 127px 135px 0 -104px rgba(255,255,255, 0.837) , 98px 72px 0 -104px rgba(255,255,255, 0.854) , 63px -99px 0 -104px rgba(255,255,255, 0.647) , -100px -143px 0 -104px rgba(255,255,255, 0.473) , 23px 24px 0 -104px rgba(255,255,255, 0.866) , -44px -97px 0 -104px rgba(255,255,255, 0.242) , 143px 76px 0 -104px rgba(255,255,255, 0.715) , -103px 92px 0 -104px rgba(255,255,255, 0.15) , -32px -112px 0 -104px rgba(255,255,255, 0.198) , -114px -121px 0 -104px rgba(255,255,255, 0.548) , 30px 5px 0 -104px rgba(255,255,255, 0.294) , 116px 103px 0 -104px rgba(255,255,255, 0.915) , -19px -28px 0 -104px rgba(255,255,255, 0.526) , -106px -64px 0 -104px rgba(255,255,255, 0.195) , 42px -17px 0 -104px rgba(255,255,255, 0.324) , 20px -37px 0 -104px rgba(255,255,255, 0.793) , 138px -84px 0 -104px rgba(255,255,255, 0.832) , 102px 139px 0 -104px rgba(255,255,255, 0.927) , 131px 80px 0 -104px rgba(255,255,255, 0.985) , -88px 137px 0 -104px rgba(255,255,255, 0.211) , 15px 15px 0 -104px rgba(255,255,255, 0.211) , -70px 79px 0 -104px rgba(255,255,255, 0.864) , -22px 105px 0 -104px rgba(255,255,255, 0.509) , -142px 127px 0 -104px rgba(255,255,255, 0.64) , 127px 108px 0 -104px rgba(255,255,255, 0.87) , -54px -80px 0 -104px rgba(255,255,255, 0.697) , -36px -139px 0 -104px rgba(255,255,255, 0.939) , 17px 17px 0 -104px rgba(255,255,255, 0.312) , -47px -2px 0 -104px rgba(255,255,255, 0.153) , 38px 121px 0 -104px rgba(255,255,255, 0.724) , 104px 113px 0 -104px rgba(255,255,255, 0.32) , -78px -112px 0 -104px rgba(255,255,255, 0.273) , -83px 10px 0 -104px rgba(255,255,255, 0.697) , 40px -40px 0 -104px rgba(255,255,255, 0.098);
}

.pluto {
  height: 780px;
  width: 780px;
  margin-top: -450px;
  margin-left: -320px;
  -webkit-animation: orb 7439.7074054575s linear infinite;
          animation: orb 7439.7074054575s linear infinite;
}
.pluto:before {
  height: 3px;
  width: 3px;
  background: #fff;
  margin-top: -1.5px;
  margin-left: -1.5px;
}

.hide {
  display: none;
}

.links {
  margin-top: 5px !important;
  font-size: 1em !important;
}

@-webkit-keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.main__screen {
  display: flex;
  padding: 10%;
  margin-top: 5%;
  flex: 1;
  overflow: hidden;

  /* background-color: brown; */
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.logo {
  width: 60%;
  margin-left: 15%
}
.main__info {
  padding: 5%;
  margin-top: 20%;
}
.container {
  width: 100%;
  position: relative;
}
/* .container:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 2px solid blue;
} */

.insta__loader {
  width: 100%;
  height: 100%;
  background-color: #1d2630;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  left: 0;
  right: 0;
  background: rgb(63, 249, 220);
  background: linear-gradient(
    0deg,
    rgba(63, 249, 220, 0.1) 33%,
    rgba(63, 249, 220, 1) 100%
  );
  /* height: 50px;
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s ease; */
}
.container:hover .insta__loader {
  opacity: 1;
  /* transform: rotate(90deg);

  animation: spin 2s linear; */

  animation: spin 0.8s linear 0s infinite;

  animation-iteration-count: 1;
  animation-delay: 1ms;
}
.insta__icon {
  padding: 20%;
  border-radius: 50%;
  background-color: white;
  width: 150px;
  height: 150px;
}
.main__title {
  display: flex;
  margin: 0;

  text-align: left;
  align-items: center;
  padding: 5px 20px 0px 20px;
}
.main__title h2 {
  font-size: 32px;
}
.title__effect {
  padding-left: 20px;
  color: #fd043d;
  text-shadow: -3px -3px 10px #fd043d, 8px 8px 12px rgba(172, 164, 164, 0.08);
  /* text-shadow: 2px 2px #f51b4e; */
}
.main__icons {
  justify-content: center;
  display: flex;
  gap: 15%;
  margin-top: 10%;
}

/* @media screen and (max-width: 1200px) {
  .main__screen {
    padding-bottom: 50%;
    background-color: coral;

    margin-top: 55%;
  }
} */

.text__container {
  display: inline-block;
  min-width: 500px;
  margin-left: 20px;
}
.text__container h2 {
  width: 0;
  color: #fff;
  max-width: max-content;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}
.text__effect {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
  animation: typing 5s steps(30, end), blink 1s step-end infinite,
    backtyping 5s steps(30, end);
  /* animation: backtyping 5s steps(30, end) infinite, blink 0.5s step-end infinite; */
  animation-iteration-count: infinite;
  /* animation-delay: 5s; */
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid orange;
  box-sizing: border-box;
}

/* .title__delete {
  animation: 4s backtyping 5s steps(50, end) infinite,
    blink 0.5s step-end infinite;
} */

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes backtyping {
  0% {
    width: 0;
  }
  80% {
    width: 100%;
  }
  90% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes spin {
  0% {
    transform: rotate(10deg);
    border-top: 5px solid orange;
  }

  100% {
    border-top: 5px solid orange;
    border-bottom: 5px solid orange;

    transform: rotate(450deg);
  }
}

@media only screen and (max-width: 600px) {
  .main__title h2 {
    font-size: 40px;
  }
  .text__container h2 {
    font-size: 40px;
  }
  .main__icons {
    padding-top: 15%;
    padding-left: 5%;
    font-size: 50px;
    gap: 10%;
  }
  .main__icons > .MuiSvgIcon-root {
    font-size: 35px;
  }
}

@media only screen and (max-width: 414  px) and (min-width: 370px) {
  .main__screen {
    padding: 15%;
    margin-top: 40%;
  }
  .main__info {
    padding: 15%;
  }
  .main__title h2 {
    font-size: 60px;
    font-stretch: wider;
  }
  .text__container h2 {
    font-size: 40px;
  }
  .main__icons {
    padding-top: 15%;
    padding-left: 5%;
    font-size: 50px;
    gap: 10%;
  }
  .main__icons > .MuiSvgIcon-root {
    font-size: 55px;
  }
}

@media only screen and (max-width: 300px) {
  .main__screen {
    padding: 15%;
    margin-bottom: 10%;
  }
  .main__info {
    padding: 35%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main__screen {
    margin-bottom: 15%;
  }
  .main__info {
    padding: 10%;
  }
}

.floatingchat-container {
  max-width: 450px !important; 
  width: 450px !important;
}

.floatingchat-container-wrap {
  max-width: 450px !important; 

}


.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 55px;
  margin-left: 33%;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 35px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

.glinks a {
  text-decoration: none!important;
  color: #fd043d;
}

